$social-media-colors : ("facebook", #3b5998),
("Twitter", #00aced),
("Google+", #dd4b39),
("Linkedin", #007bb6),
("YouTube", #bb0000),
("Instagram", #517fa4);

//start colors of theme 1

/*start of font size*/
$font-sm : 10px;
$font-md : 18px;
$font-lg : 24px;
$font-xlg : 34px;
/*end of font size*/
/*
rgb(4, 5, 70)
rgb(150,10,30)
*/


/*
$main-color: #270226;
$sec-color : #343042;
$third-color : #FEFDFE;
$background-color:#2F353B;
$input-color:#3D424B;
$icon-color:#5F6366;
$icon-background:#393D43;
$main : #F70083;
 
*/