div.feedbacks{
    @include box-style(1);
    div.tbl{
        div.cir{
            @include cir(50px);
            overflow: hidden;
            position: relative;
            margin: auto;
            img{
                width: 100%;
                height: 100%;
                position: absolute;
                left:1px;
            }
        }
        @include table-style(1);
    }
}